{{!< layout.hbs }}
<section role="main">
    <article class="clermontjs-event details {{eventClass page}}">
        <h3 class="clermontjs-event-title {{eventClass page}}">{{page.title}}</h3>
        <div class="clermontjs-event-program">
            {{{page.html}}}
        </div>
        <div class="clermontjs-event-speaker">
            {{> eventSpeaker page}}
        </div>
        {{#ifFutureEvent page}}
        <div class="clermontjs-event-map" id="clermontjs-event-map">
            <h3 class="clermontjs-event-map-title">Infos pratiques</h3>
            {{> eventPitch page}}
            {{{map page.metadata.location}}}
        </div>
        <div class="clermontjs-event-ticket" id="clermontjs-event-ticket">
            <h3 class="clermontjs-event-ticket-title">Réserver sa place</h3>
            {{ticket page}}
        </div>
        {{else}}
        <div class="clermontjs-event-video" id="clermontjs-event-video">
            <h3 class="clermontjs-event-video-title" data-video="{{page.metadata.video}}" data-slides="{{page.metadata.slides}}" data-tc="{{JSONstringify page.metadata.tc}}">Vidéo &amp; Slides</h3>
            <div class="clermontjs-event-video-fullscreen-calout panel radius hide"> <h5><i class="fi-play-video"></i> Confort</h5>
                <p>Les slides sont synchronisées sur la vidéo, pour plus de confort passez en plein écran <a class="small radius button clermontjs-event-video-player-fullscreen" href="#" title="Fullscreen"><i class="fi-arrows-out"></i></a></p>
            </div>
            <div class="clermontjs-event-video-player">
                <div class="clermontjs-event-videocontainer">
                </div>
                <div class="clermontjs-event-slidescontainer"><iframe id="clermontjs-event-slides-iframe" width="100%" height="100%" frameborder="0"></iframe></div>
            </div>
            {{!video page}}
        </div>
        <!-- <div class="clermontjs-event-slides">
            {{slides page}}
        </div> -->
        {{/ifFutureEvent}}
    </article>
</section>
<aside class="event-navigation">

</aside>
<footer class="nav">
    <ul class="no-bullet">
        <li><a href="/">« Retour à l'accueil</a></li>
    </ul>
</footer>
